#homepage {
	background-image: url('http://wallpaper-gallery.net/images/background-wallpaper-for-website/background-wallpaper-for-website-14.jpg');
	background-size: cover;
	

}
#homepage {

	border-image: url('http://wallpaper-gallery.net/images/background-wallpaper-for-website/background-wallpaper-for-website-14.jpg')	

}